@font-face {
    font-family:opensans;
    src: url();
}
.logo img{
    height: 150px;
    width: 150px;
}
.fullstack{
    height: 150px;
    width: 300px;
}
/* Стили для модального окна */
/* Стиль для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Добавляем прокрутку если нужно */
    background-color: rgb(0,0,0); /* Черный фон */
    background-color: rgba(0,0,0,0.4); /* Черный с прозрачностью */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
}

#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
