
header {
    width: 100%;
    padding: 10px 0;
    background-color: #f0f0f0;
}

.logo-initials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.initials {
    text-align: right;
}

nav {
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #333;
    border-top: 2px solid #000;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

hr {
    margin: 0;
    border: none;
    border-top: 2px solid #000;
}
@font-face {
    font-family:opensans;
    src: url();
}
.logo img{
    height: 150px;
    width: 150px;
}
.vizitka{
    height: 150px;
    width: 300px;
}
.site{
    height: 150px;
    width: 300px;
}
.fullstack{
    height: 150px;
    width: 300px;
}
.web{
    height: 150px;
    width: 300px;
}
/* Стили для модального окна */
/* Стиль для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Добавляем прокрутку если нужно */
    background-color: rgb(0,0,0); /* Черный фон */
    background-color: rgba(0,0,0,0.4); /* Черный с прозрачностью */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
}

#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

/* Левая часть страницы (основной контент) */
.content {
    width: 85%;
    padding: 20px;
}

/* Правая часть страницы (навигация) */
.navigation {
    width: 15%;
    background-color: #f4f4f4;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.navigation h3 {
    margin-top: 0;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    margin-bottom: 10px;
}

.navigation ul li a {
    text-decoration: none;
    color: #000;
}